<div class="dashboard-container">
  <mat-toolbar color="primary" class="dashboard-header">
    <div class="header-left">
      <img src="assets/mr-solutions.png" alt="Logo" class="logo" *ngIf="clientName; else noLogo">
      <ng-template #noLogo><span class="client-name">{{ clientName }}</span></ng-template>
    </div>
    <span class="spacer"></span>
    <div class="header-right">
      <span class="user-email">{{ userEmail }}</span>
      <button mat-button color="accent" (click)="logout()" [disabled]="isLoading">Logout</button>
    </div>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div class="dashboard-content">
    <app-dpa-grid [rows]="rowData" [columns]="columns"></app-dpa-grid>
  </div>

</div>